
body{
    background-color: #08e1ae;
background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
     
}

.container{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    display: block;
    /*transition: cubic-bezier(0.075, 0.82, 0.165, 1);*/
    background-color: #ffffff;
}

#header{
    border-bottom: 1px rgb(182, 180, 180) solid;
    text-align: center;
}
/* font-size: 2.5em; */
#header>h1,
#header>h4,
#header>h5{
    color: rgb(94, 93, 93);
    font-weight: lighter;
}
#projects-drop{
    width: 400px;

    margin-top: 10px;
    height: 40px;
    padding: 5px;
}
.input-group{
    padding: 20px;
}
.project{
    width: 400px;
    margin: auto;
    margin-top: 10px;
    display: inline;
    height: 40px;
    padding: 5px;
}
.date{
    width: 400px; 
    margin-top: 10px;
    height: 40px;
}

#link-to-task{
    color: rgb(16, 182, 233) ;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 100;
}
button{
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    color:white;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    width: auto;
    height: auto;
    display: block;
    border: none;
    border-radius: 20px;
}

.task-input{

    width: 200px;
    height: 25px;
    padding: 5px;
    margin: 5px;
}
h3{
    color: rgb(94, 93, 93);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f1efef;
  }
